.cards {
    /* position: relative;
    left: 2em; */
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width:60%;
    
    box-shadow: 0.75em 0.5em 0.7em #aaaaaa;
    border: 3px solid #26A5A5;
    margin: 0 2em 2em 0;
    margin-left:20%;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.5em;
}

.cardTitle {
    font-weight: 500;
    font-size: 1.75em;
}

.cardImg {
margin-bottom: 0;
}

.cardcontent {
    font-weight: 400;
}