#logo {
  position: absolute;
  top: 0em;
  left: 0em;
  height:100%;
  z-index: 1;
  width:auto;
}

#navBarDiv {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  right: 0;
  background-color: white;
  box-shadow: 0em 0.1em 1em #aaaaaa;
  font-size: 1.75em;
  font-weight: 500;
  border-bottom-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  margin: 0em;
  padding: 0em;
  
}

#navBarDiv a {
  text-decoration: none;
}

#navBarList {
  height: 1.5em;
  margin: 0em;
  padding-top: 0.35em;
}

.navBarItem {
   list-style-type: none;
   text-align: center;
   display: inline;
   z-index: 1;
}

.vl {
  border-right: 0.05em solid #717370;
}

.element {
  padding: 0.15em 0.30em 0.15em 0.09em;
  margin: 0.5em 0em;
}

.element:hover {
  border-bottom: 0.1em solid #E8AA00;
}

.altSize {
  font-size: 0.7em;
}

.rightSide {
    float: right;
}

.element a {
  color: #26A5A5;
}

.sign a{
  z-index: 1;
  padding: 0.05em 0.15em;
  background: linear-gradient(30deg, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  background-clip: text;
	color: transparent;
  border: 0.15em solid transparent;
  border-radius: 2em;
  border-image-source: linear-gradient(30deg, #30CFD0 0%, #330867 100%);
  border-image-slice: 1;
  margin-right: 0.2em;
}

#active{
  color:#BA1200
}

